@import url(https://fonts.googleapis.com/css?family=Nunito:400,700,300);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,600);

.header #main_heading{
	display: inline-block;
	position:relative;
	font-family: 'Nunito', sans-serif;
	font-weight: 700; 
	text-align: center;
	color: #505050 ;
	font-size: 4em;
	/*padding:5px 20px 25px 10px ;*/
	}
.header{
	/*margin: 0 25%;*/
	float: center;
	margin: 1em 2em;
	background-color: #e6cbb2;
	opacity: 0.9;
    filter: alpha(opacity=90);
	padding: 0.1em;
	border-radius: 0.5em;
	
}
.header img{
	/*display: inline-block;
	float:left;*/
	max-width:4em;
	max-height: 4em;
}




body {
	background-color: #d3a579;
	margin: 0 0 15% 0;
	background-repeat: no-repeat;

	background: transparent url("pictures/chihuahua-1.jpg");
	background-repeat: no-repeat ;
	background-size:cover;

	
	
}
#menu {
	font-family: 'Frijole', cursive;
    list-style-type: none;
    margin: 0 0 0.5em 0;
    padding:  0;
	max-width:100%;
    overflow: hidden;
    background-color: grey;
	text-align: center;
}
li {/
	float: center;
	display: inline-block;
}
li a {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
}
li a:hover, #heading_button:hover {
	background-color: #e6cbb2;
}
a:hover{
	cursor: url("pictures/paw_icon.png"), auto;
}
.image-gallery img {   
	/*position:absolute;*/

	height:50%; 
	width:32.65%;
	
	/*display: inline-block
	float: left;*/
	 margin-left: auto !important;
   margin-right: auto !important;
	border: 5px solid #e6cbb2;
	
	/*position: center;*/
}
.container{
	position: relative;
}

.image-gallery { 
	height:500px; 
	width:100%; 
	/*background-color: grey;*/
	position: relative;
	float: center;
	display: table;
    margin: 0 auto;
}
#sign_up_form{
	font-family: 'Raleway', sans-serif;
	background-color: #e6cbb2;
	max-width: 30em;
	text-align: center;
	margin: 5em auto 5em 2em;
	
	padding-bottom: 1em;
	border-radius: 0.5em;

	opacity: 0.9;
    filter: alpha(opacity=90);
}
label{
	display: block;
	padding: 0.5em;
	text-align: left;
	max-width: 20em;
	text-transform: uppercase;

}
input,#button_subscribe{
	align: left;
	width: 25em;
	font-size: 1em;
	border-radius: 0.5em;
	border: 0.05em  solid grey;
	
	
}
#button_subscribe{
	background-color: #505050;
	color:white;
	padding: 1em 0;
	margin-left: 0.5em;
}
#header_signup{
	font-family: 'Raleway', sans-serif;
	font-weight:600;
	text-align:left;
	border-bottom: 1px solid grey;
	
	
}
#buttom-form{
	background-color: grey;
	max-width:100%;
	height: 100px;
	padding: 10px;
}
#buttom-center{
	border: 0.5em solid #505050;
	width: 50em;
	height: 10em;
	background-color: #e6cbb2;
	float: center;
	position: relative;
	text-align: center;
	margin: -30px auto -5% auto;
	border-radius: 7em;
}

input,input::-webkit-input-placeholder {

	line-height: 2;
}