  
@import url(https://fonts.googleapis.com/css?family=Frijole);
@import url(https://fonts.googleapis.com/css?family=Yantramanav:400,900);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);


.header #main_heading{
	/*display: inline-block;*/
	position:relative;
	font-family: 'Frijole', cursive;
	text-align: center;
	color: #505050 ;
	font-size:100px;
	padding-bottom: 10px;
	padding:5px 20px 25px 10px ;
	}
.header{
	/*margin: 0 25%;*/
	float: center;
}
.header img{
	/*display: inline-block;
	float:left;*/
	max-width:8 px;
	max-height: 8 px;
}
#heading_button{
	display: inline-block;
	float: right;
	border-left: 2px solid grey;
	border-color: white;
	font-family: 'Frijole', cursive;
	cursor: url("pictures/paw_icon.png"), auto;
	}
.buttons{
		border: 2px solid grey;
	padding: 1em;
	/*border-radius: 25px;*/
	font-family: 'Yantramanav', serif;
	cursor: url("pictures/paw_icon.png"), auto;
	}
#button_subscribe{
	background-color: grey;
	color:white;
	border-radius: 25px;
}

body {
	background-color: #d3a579;
	margin: 0 0 15% 0;
	background-repeat: no-repeat;
    background-attachment: fixed;	
}
#menu {
	font-family: 'Frijole', cursive;
    list-style-type: none;
    margin: 0 0 0.5em 0;
    padding:  0;
	max-width:100%;
    overflow: hidden;
    background-color: grey;
	text-align: center;
}
li {
	float: center;
	display: inline-block;
}
li a {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
}
li a:hover, #heading_button:hover {
	background-color: #e6cbb2;
}
a:hover{
	cursor: url("pictures/paw_icon.png"), auto;
}
.image-gallery img {   
	position:absolute;
	left:0;
	top:0; 
	height:500px; width:100%; 
}
.container{
	position: relative;
}
.image-gallery { 
	height:500px; width:100%; 
	background-color: grey;
	position: relative;
	float: center;
}
#wrapper{
	font-family: 'Yantramanav', serif;
	background-color: #e6cbb2;
	max-width: 500px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding: 5em;
	margin-top: 5em;
	margin-bottom: 0;
	border-top-right-radius: 7em;
	border-top-left-radius: 7em;
	border: 0.5em solid grey;
}
#buttom-form{
	background-color: grey;
	max-width:100%;
	height: 100px;
	padding: 10px;
}
#buttom-center{
	border: 0.5em solid #505050;
	width: 50em;
	height: 10em;
	background-color: #e6cbb2;
	float: center;
	position: relative;
	text-align: center;
	margin: -30px auto -5% auto;
	border-radius: 7em;
}
#email{
	border-radius: 25px;
	width: 1000 px;
	height: 2em;
	border: 2px solid grey;
	margin: 5px;
}
input,input::-webkit-input-placeholder {
	font-size: 30 em;
	line-height: 2;
}